html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #222831;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

h1 {
  color: #00FFF5;
}

h2 {
  color: #00ADB5;
}

#menu, #modeSelect {
  margin: 1rem 0;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin-top: 1rem;
}

.cell {
  background-color:  #222831;
  border: 2px solid #00ADB5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell:hover {
  background-color: #393E46;
}

.player-x {
  color: #AF0404;
  font-weight: bold;
  font-size: 2.5rem;
}

.player-o {
  color: #00FFF5; /* biru Bulma */
  font-weight: bold;
  font-size: 2.5rem;
}

#status {
  margin-top: 1rem;
  font-weight: bold;
  color: #00FFF5;
}

#restartBtn {
  margin-top: 1rem;
}

    